{% extends 'base.html' %}

{% block title %}
Crear Curso
{% endblock %}

{% block content %}
<div class="container">
    <h2>Crear Curso</h2>
    <a href="#" class="btn btn-warning mb-3">Volver a listado</a>
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" maxlength="50" required
                placeholder="ingrese nombre del curso">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Ingrese la descripción del curso"></textarea>
        </div>
        <div class="mb-3">
            <label for="start_date" class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <button type="submit" class="btn btn-success">Crear Curso</button>
    </form>
</div>
{% endblock %}