{% extends 'base.html' %}

{% block title %}
    Listado de Incripciones
{% endblock %}

{% block content %}
<h2 class="text-center">Listado de Incripciones</h2>
<div class="container">
    <a href="{% url 'create_enrollment' %}" class="btn btn-primary mb-3">Agregar Incripción</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Estudiante</th>
                <th scope="col">Curso</th>
                <th scope="col">Fecha de Inscripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.student }}</td>
                <td>{{ enrollment.course }}</td>
                <td>{{ enrollment.enrollment_date }}</td>
                <td>
                    <a href="{% url 'edit_enrollment' enrollment.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'delete_enrollment' enrollment.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta inscripción?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}